{% extends 'social/base.html' %} {% block content %}

<style>
  .title {
    margin-top: 100px;
  }
  h1 {
    font-family: "Grand Hotel", cursive;
    font-size: 80px;
    color: #FF6F61;
    text-align: center; 
  }
</style>

<div class="title">
  <h1>Social</h1>
</div>

<div class="container">
  <h3>Login here</h3>
  <form method="POST" action>
    {% csrf_token %}

    <div class="mb-3">
      <label for="InputUsername" class="form-label">User name</label>
      <input
        type="text"
        class="form-control"
        name="username"
        id="InputUsername"
      />
   
    </div>

    <div class="mb-3">
      <label for="InputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="Password" name="password" />
    </div>

    <button type="submit" class="btn btn-primary" name="Login User">
      login
    </button>
  </form>

  {% for message in messages %}
    <p id="message">{{message}}</p>
  {% endfor %}
  <div class="border-top pt-3 mt-2">
    <small class="text-muted">
      Don't have an accont ?
      <a class="ml-2" href="{% url 'signup' %}">Sign Up</a>
    </small>
  </div>
</div>

{% endblock %}
