{% extends 'social/base.html' %} {% block content %}

<!-- navbar -->
<style>
  .title {
    margin-top: 70px;
  }
  h1 {
    font-family: "Grand Hotel", cursive;
    font-size: 70px;
    color: dodgerblue;
  }
  .user-name {
    font-size: large;
  }
  .logout a {
    text-decoration: none;
    color: black;
  }
  .submit {
    background: none;
    border: none;
  }
  .home a {
    text-decoration: none;
    color: black;
  }
  .add-profile a {
    text-decoration: none;
    color: black;
  }
  .profile a {
    text-decoration: none;
    color: black;
  }
  .card {
    margin-top: 30px;
  }
  .bio {
    font-weight: bolder;
    font-size: x-large;
  }
  .card-text {
    font-size: x-large;
  }
  .info-wrapper {
    text-align: center;
    font-size: x-large;
    font-family: "Poppins", sans-serif;
  }
  .profile-info {
    text-align: center;
    margin-top: 2vh;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
  }
  .follow-count {
    text-align: center;
    margin-top: 2vh;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: smaller;
  }

  .card-body a {
    text-decoration: none;
    color: black;
  }

  .user-name img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 2px solid dodgerblue;
  }

  .card-text1 {
    font-family: "Grand Hotel", cursive;
    color: dodgerblue;
    font-size: larger;
  }
</style>
<!-- navbar -->
<nav class="navbar navbar-expand-lg bg-light mb-5 fixed-top">
  <!-- conatainer -->
  <div class="container">
    <a
      href="{% url 'home'%}"
      class="navbar-brand"
      style="font-size: 5vh; font-family: 'Grand Hotel', cursive; color: black"
      >Social</a
    >

    <!-- navbar toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
      style="color: black"
    >
      <span class="navbar-toggler-icon dark"></span>
    </button>

    <!-- main div  -->
    <div class="collapse navbar-collapse" id="navmenu">
      <div class="collapse navbar-collapse" id="navmenu">
        <div class="user-name ms-3">{{ request.user }}</div>
        <!-- dropdown menu filter by category -->

        <!-- dropdown menu filter by location -->
      </div>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="#" class="nav-link"></a>
        </li>
      </ul>

      <!-- search form functions -->
      <div class="home me-3">
        <a href="{% url 'home' %}"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-home"
          >
            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
            <polyline points="9 22 9 12 15 12 15 22"></polyline></svg
        ></a>
      </div>

      <div class="profile me-3">
        <a href="{% url 'userprofile' %}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-user"
          >
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
        </a>
      </div>

      <div class="add-profile me-3">
        <a href="{% url 'addprofile' %}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-user-plus"
          >
            <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
            <circle cx="8.5" cy="7" r="4"></circle>
            <line x1="20" y1="8" x2="20" y2="14"></line>
            <line x1="23" y1="11" x2="17" y2="11"></line>
          </svg>
        </a>
      </div>

      <div class="logout">
        <a href="{% url 'logout' %}">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-log-out"
          >
            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
            <polyline points="16 17 21 12 16 7"></polyline>
            <line x1="21" y1="12" x2="9" y2="12"></line></svg
        ></a>
      </div>
    </div>
  </div>
</nav>
<a href="{% url 'home' %}"
  ><svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="feather feather-arrow-left"
  >
    <line x1="19" y1="12" x2="5" y2="12"></line>
    <polyline points="12 19 5 12 12 5"></polyline></svg
></a>

<div class="title">
  <h1 style="text-align: center">Social</h1>
</div>

<div class="container">
  <div class="info-wrapper">
    <h2>User Profile</h2>
  </div>

  <div class="follow-count">
    <h2 style="font-size:large;">
      <span>Following| {{user_profile.following.all.count}}</span> |
      <span>Followers| {{user_profile.followers.all.count}}</span>
    </h2>
  </div>

  <div class="row">
    <div class="card mx-auto" style="width: 45rem">
      <p class="card-text m-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-user"
        >
          <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
          <circle cx="12" cy="7" r="4"></circle>
        </svg>
        | {{user_profile.user.username}}
      </p>
      <img src="{{user_profile.prophoto.url}}" class="card-img-top" alt="..." />
      <div class="card-body">
        <p class="card-text">
          <span class="bio">Bio:</span> {{user_profile.bio}}
        </p>
      </div>
    </div>
  </div>
  <div class="profile-info" style="margin-top: 2vh">
    <h2>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-image"
      >
        <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
        <circle cx="8.5" cy="8.5" r="1.5"></circle>
        <polyline points="21 15 16 10 5 21"></polyline>
      </svg>
      | My posts
      <span style="font-weight: bolder"></span> | {{image_length}}
    </h2>
  </div>

  <div class="container">
    <div class="row">
      {% for image in images %}
      <div class="col-s-6 col-md-4">
        <div class="card my-2">
          <p class="card-text1 m-2">{{image.imagename}}</p>

          {% if image.image %}
          <img src="{{image.image.url}}" alt="..." />
          {% endif %}
          
          <div class="card-body">
            <p class="card-text">{{image.caption}}</p>
            <p>
              <span style="font-weight: bolder">likes:</span>
              {{image.likes.all.count}}
            </p>
            {% for comment in image.comments.all|slice:'2'%}
            <p>
              <span style="font-weight: bolder">Comments:</span
              ><span>{{comment.text}}</span>
            </p>
            {% endfor %}
            <a href="{% url 'photo' image.id  %}" class="">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-eye"
              >
                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                <circle cx="12" cy="12" r="3"></circle>
              </svg>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% endblock %}
</div>
